.w_100{
    width: 100% !important;
}

.w_6{
    width: 6rem;
}
.center{
    
    display: flex;
    justify-content: center;
    flex-direction: column; 
    /* align-items: center;*/
    width: 4rem;
}
